In [3]:
import pandas as pd, numpy as np

In [6]:
data = pd.read_csv("tate.csv")
data.head()

,artist.gender,artist.name,artist.role,data.medium,data.thumbnail,data.title,data.url,dimensions.depth,dimensions.height,dimensions.width,metadata.acquisition date,metadata.creation decade,metadata.creation year,metadata.credit,artist.birth.location,artist.birth.year,artist.death.location,artist.death.year
0,Female,"Abakanowicz, Magdalena",artist,Burlap and resin,http://www.tate.org.uk/art/images/work/T/T12/T...,Backs,http://www.tate.org.uk/art/artworks/abakanowic...,0.0,0.0,0.0,2009,1970,1976,Presented anonymously 2009,Polska,1930,NaN,0
1,Male,"Abbey, Edwin Austin",artist,Ink on paper,http://www.tate.org.uk/art/images/work/N/N03/N...,Illustration to Judith Shakespeare,http://www.tate.org.uk/art/artworks/abbey-illu...,0.0,419.0,305.0,1924,1880,1883,Presented by a group of admirers through John ...,"Philadelphia, United States",1852,"London, United Kingdom",1911
2,Female,"Abbott, Berenice",artist,"Photograph, gelatin silver print on paper",NaN,Tri-Boro Barber Shop,http://www.tate.org.uk/art/artworks/abbott-tri...,0.0,200.0,250.0,2010,1930,1935,Accepted by HM Government in lieu of inheritan...,"Springfield, United States",1898,"Monson, United States",1991
3,Male,"Abbott, Lemuel Francis",artist,Oil paint on canvas,http://www.tate.org.uk/art/images/work/T/T01/T...,Portrait of the Engraver Francesco Bartolozzi,http://www.tate.org.uk/art/artworks/abbott-por...,0.0,676.0,756.0,1968,0,0,Presented by Mrs M. Bernard 1968,"Leicestershire, United Kingdom",1760,"London, United Kingdom",1803
4,Male,"Abrahams, Ivor",artist,Fibreglass and polystyrene,http://www.tate.org.uk/art/images/work/T/T03/T...,Lady in Niche,http://www.tate.org.uk/art/artworks/abrahams-l...,762.0,1575.0,2095.0,1982,1970,1973,Purchased 1982,"Wigan, United Kingdom",1935,NaN,0

In [7]:
data.columns

Index(['artist.gender', 'artist.name', 'artist.role', 'data.medium',
       'data.thumbnail', 'data.title', 'data.url', 'dimensions.depth',
       'dimensions.height', 'dimensions.width', 'metadata.acquisition date',
       'metadata.creation decade', 'metadata.creation year', 'metadata.credit',
       'artist.birth.location', 'artist.birth.year', 'artist.death.location',
       'artist.death.year'],
      dtype='object')

In [9]:
data.shape

(3332, 18)

In [16]:
data['metadata.creation decade'].value_counts()

1970    415
0       353
1960    324
2000    310
1990    256
1980    212
1950    207
1930    166
1910    139
1920    135
1940    115
1900     93
1890     82
1880     69
1850     48
1870     44
1860     41
2010     37
1820     31
1840     28
1800     25
1830     24
1810     21
1770     18
1780     18
1790     17
1760     17
1720     11
1730     10
1740     10
1750      7
1680      7
1620      6
1630      5
1660      4
1710      4
1640      3
1590      3
1690      3
1700      3
1650      3
1670      2
1610      2
1540      1
1560      1
1570      1
1600      1
Name: metadata.creation decade, dtype: int64

In [20]:
data['artist.birth.location'].value_counts().head(20)

London, United Kingdom        442
Paris, France                  54
Edinburgh, United Kingdom      47
New York, United States        38
Glasgow, United Kingdom        35
Dublin, ire                    28
England, United Kingdom        28
Liverpool, United Kingdom      23
Birmingham, United Kingdom     22
Bristol, United Kingdom        20
Wien, sterreich                17
Leeds, United Kingdom          16
Berlin, Deutschland            16
Warszawa, Polska               15
United Kingdom                 15
Kent, United Kingdom           14
Surrey, United Kingdom         14
Norwich, United Kingdom        13
Manchester, United Kingdom     12
Los Angeles, United States     12
Name: artist.birth.location, dtype: int64

In [19]:
data['metadata.creation year'].value_counts().head(10)

0       353
1971     57
1975     54
1967     46
1973     46
1977     43
1972     42
1999     42
1974     41
2005     40
Name: metadata.creation year, dtype: int64

In [21]:
data['data.medium'].value_counts().head(10)

Oil paint on canvas                          844
Lithograph on paper                          215
Screenprint on paper                         107
Watercolour on paper                          85
Photograph, gelatin silver print on paper     70
Bronze                                        70
Graphite on paper                             65
Graphite and watercolour on paper             54
Oil paint on board                            51
Acrylic paint on canvas                       50
Name: data.medium, dtype: int64